MYSQL_HOST=127.0.0.1
MYSQL_USER=root
MYSQL_PORT=3306
MYSQL_PASSWORD=password
MYSQL_DB=bookmyshow

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
SHOWS_BY_DATE_EXPIRY=86400
MOVIE_DATA_EXPIRY=2592000

ES_USERNAME=elastic
ES_PASSWORD=rte-Y*+zW1T_sjKIsc